@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/aproject\/exp1\/front-end-study\/tributePage\/scss\/test\.scss}line{font-family:\000031}}
#main {
  color: #00ffee; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/aproject\/exp1\/front-end-study\/tributePage\/scss\/test\.scss}line{font-family:\000033}}
  #main a {
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/aproject\/exp1\/front-end-study\/tributePage\/scss\/test\.scss}line{font-family:\000035}}
    #main a:hover {
      color: #f00; }
