#main {
    color: #00ffee;
    a {
        font-weight: bold;
        &:hover {
            color: #f00;
        }
    }
}

@mixin make_test_container(){
  @media(min-width:768px) {
    @content
  }
}

.container {
  @include make_test_container(){
    color:#f00;
  }
}